.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:700px;
	height:2416px;
	position:absolute;
}.e1_8 { 
	width:700px;
	height:467px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_3 { 
	width:700px;
	height:467px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/frame_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_4 { 
	width:699px;
	height:136px;
	position:absolute;
	left:0px;
	top:467px;
}.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:609px;
	height:80px;
	position:absolute;
	left:45px;
	top:28px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_33 { 
	width:699px;
	height:136px;
	position:absolute;
	left:0px;
	top:603px;
}.e1_34 { 
	color:rgba(0, 0, 0, 1);
	width:609px;
	height:80px;
	position:absolute;
	left:45px;
	top:28px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_10 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:700px;
	height:1497px;
	position:absolute;
	left:0px;
	top:739px;
}.e1_11 { 
	width:640px;
	height:108px;
	position:absolute;
	left:30px;
	top:0px;
}.e1_12 { 
	color:rgba(0, 0, 0, 1);
	width:640px;
	height:61px;
	position:absolute;
	left:0px;
	top:27px;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}.e1_13 { 
	background-color:rgba(116.00000068545341, 0, 21.000000648200512, 1);
	width:640px;
	height:667px;
	position:absolute;
	left:30px;
	top:118px;
}.e1_21 { 
	width:640px;
	height:224px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_22 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:10px;
}.e1_23 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_24 { 
	width:253px;
	height:120px;
	position:absolute;
	left:335px;
	top:10px;
}.e1_25 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_93 { 
	width:640px;
	height:224px;
	position:absolute;
	left:0px;
	top:224px;
}.e1_94 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:10px;
}.e1_95 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_96 { 
	width:253px;
	height:120px;
	position:absolute;
	left:335px;
	top:10px;
}.e1_97 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_98 { 
	width:640px;
	height:219px;
	position:absolute;
	left:0px;
	top:448px;
}.e1_99 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:10px;
}.e1_100 { 
	width:305px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_101 { 
	width:253px;
	height:120px;
	position:absolute;
	left:335px;
	top:10px;
}.e1_102 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_31 { 
	width:640px;
	height:69px;
	position:absolute;
	left:30px;
	top:795px;
}.e1_32 { 
	color:rgba(0, 0, 0, 1);
	width:640px;
	height:28px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_35 { 
	background-color:rgba(116.00000068545341, 0, 21.000000648200512, 1);
	width:640px;
	height:590px;
	position:absolute;
	left:30px;
	top:874px;
}.e1_36 { 
	width:640px;
	height:189px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_39 { 
	width:253px;
	height:120px;
	position:absolute;
	left:45px;
	top:5px;
}.e1_40 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_37 { 
	width:312px;
	height:184px;
	position:absolute;
	left:328px;
	top:5px;
}.e1_38 { 
	width:312px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_81 { 
	width:640px;
	height:189px;
	position:absolute;
	left:0px;
	top:189px;
}.e1_82 { 
	width:253px;
	height:120px;
	position:absolute;
	left:45px;
	top:5px;
}.e1_83 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_84 { 
	width:312px;
	height:184px;
	position:absolute;
	left:328px;
	top:5px;
}.e1_85 { 
	width:312px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_86 { 
	width:640px;
	height:189px;
	position:absolute;
	left:0px;
	top:378px;
}.e1_87 { 
	width:253px;
	height:120px;
	position:absolute;
	left:45px;
	top:5px;
}.e1_88 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:70px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Arial;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_89 { 
	width:312px;
	height:184px;
	position:absolute;
	left:328px;
	top:5px;
}.e1_90 { 
	width:312px;
	height:184px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/hsbcpre_golf_edm_jun23_b_11_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_91 { 
	width:640px;
	height:69px;
	position:absolute;
	left:30px;
	top:1474px;
}.e1_109 { 
	width:700px;
	height:190px;
	position:absolute;
	left:0px;
	top:2236px;
}.e1_92 { 
	color:rgba(0, 0, 0, 1);
	width:640px;
	height:14px;
	position:absolute;
	left:30px;
	top:30px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e1_110 { 
	width:640px;
	height:90px;
	position:absolute;
	left:30px;
	top:70px;
}.e1_103 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:640px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_105 { 
	background-color:rgba(116.00000068545341, 0, 21.000000648200512, 1);
	width:264px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_107 { 
	color:rgba(0, 0, 0, 1);
	width:185px;
	height:60px;
	position:absolute;
	left:299px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e1_106 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:13px;
	position:absolute;
	left:29px;
	top:23px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}